body {
    background: #f0f0f0;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 4em;
}

#movie-list {
    list-style: none;
    padding-left: 0;
    margin-left: 2em;
    margin-right: 2em;

    display: grid;
    grid-template-columns: repeat(auto-fill, calc(220px + 2px + 1em + 0.5em));
    grid-gap: 1em;
    justify-content: space-evenly;
}

#movie-list > li {
    width: 220px;
    padding: 0.5em 1em;
    /* margin: 1em 0.5em; */

    border-radius: 0.25em;

    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0px 0.125em 0.5em -0.125em rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: stretch;
    align-items: stretch;

    cursor: pointer;
    transition: border 0.2s, box-shadow 0.2s, background 0.2s;
}

#movie-list > li:hover, #movie-list > li:active, #movie-list > li:focus {
    background: #d0d0d0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0.125em 0.5em -0.125em rgba(0, 0, 0, 0.75);
}

#movie-list h2 {
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 16pt;
    font-weight: 300;
}

#movie-list img.poster-preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#movie-list footer {
    margin-top: 0.5em;
    font-size: 10pt;
    color: #404040;
}

#movie-list footer i {
    font-style: normal;
}

#about {
    position: fixed;
    bottom: 0;
    left: 0;

    padding: 0.25em 1em;

    width: 100%;
    background: #f0f0f0;
    color: #202020;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.tmdb-logo {
    width: 10em;
}

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-container[aria-hidden='true'] {
    display: none;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fade-in 200ms both;
}

.dialog-box {
    position: relative;
    z-index: 1;
    background: #d0d0d0;
    min-height: 10em;
    min-width: 60vw;
    max-width: 80em;
    margin-left: 2em;
    margin-right: 2em;
}

.dialog-box .dialog-close {
    all: unset;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1em;
    height: 1em;
    font-size: 18pt;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    line-height: 1em;

    border: 1px solid transparent;
    background: transparent;
    transition: border-color 0.2s, background 0.2s;
}

.dialog-box .dialog-close:hover, .dialog-box .dialog-close:active, .dialog-box .dialog-close:focus {
    border: 1px solid rgba(0, 0, 0, 0.8);
    background: #d0d0d0;
}

.hidden {
    visibility: hidden;
}

.movie-poster, .poster-preview {
    object-fit: contain;
}

.movie-content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

.movie-content > .left {
    flex: 1;
    min-width: 24rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 600px;

    display: flex;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}

.movie-content h1 {
    font-size: 28pt;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.movie-content .movie-tagline {
    /* margin-left: 1rem; */
    font-size: 14pt;
    font-weight: 400;
    margin-bottom: 1.0rem;
    color: #202020;
}

.movie-content .movie-overview {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-content .movie-homepage {
    color: #202020;
    text-decoration: none;
}

.movie-content .movie-homepage:hover {
    text-decoration: underline;
}

.movie-content footer > ul {
    list-style: none;
    padding-left: 0;
    color: #202020;
    font-style: italic;
}

.movie-content > .right {
    margin-top: 2.5em;
    flex: 0;
}

.movie-poster {
    margin: 0.5em;
}

ul.genres, ul.languages {
    list-style: none;
    padding-left: 0;
    display: inline-flex;
    flex-direction: row;
}

ul.genres > li:not(:last-child)::after, ul.languages > li:not(:last-child)::after {
    content: ",";
    display: inline-block;
    margin-right: 0.25em;
}

#movie-dialog-loading {
    color: #404040;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: dark) {
    body {
        background: #202020;
        color: white;
    }

    #movie-list > li {
        background: #303030;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0.125em 0.5em -0.125em rgba(0, 0, 0, 0.75);
    }

    #movie-list > li:hover, #movie-list > li:active, #movie-list > li:focus {
        background: #404040;
        border: 1px solid rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0.125em 0.5em -0.125em rgba(0, 0, 0, 1.0);
    }

    #movie-list footer {
        color: #d0d0d0;
    }

    #about {
        background: #303030;
        color: #d0d0d0;
    }

    .dialog-box {
        background: #202020;
    }

    .dialog-box .dialog-close:hover, .dialog-box .dialog-close:active, .dialog-box .dialog-close:focus {
        border: 1px solid rgba(255, 255, 255, 0.8);
        background: #404040;
    }

    .movie-content .movie-tagline {
        color: #d0d0d0;
    }

    .movie-content footer > ul {
        color: #d0d0d0;
    }

    #movie-dialog-loading {
        color: #a0a0a0;
    }

    .movie-content .movie-homepage {
        color: #d0d0d0;
    }
}
